html {
  background-color: #E9D2A2;
  border: 15px solid black;
  margin: 15px;
  }

/**Body styling **/
body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  line-height: 1.0em;
  color: black;
  font-family: 'Rozha One', serif;
}

/** Navigation styling **/
nav {
  background-color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

nav > a {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
  margin-left: 30px;
  text-decoration: none;
  color: black;
  font-size: 0.9em;
}

nav a:hover {
  color: #E9D2A2;
}

.logo {
  display: inline-block;
  vertical-align: middle;
  height: 70px;
  padding: 10px;
}

/** Home page styling **/

#homepageimage {
  display: block;
  margin: auto;
  width: 65%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.col-md-4 {
  text-align: center;
  padding: 10px;
  line-height: normal;
}
